/*
 * @Date: 2019-06-24 17:21:40
 * @Author: zhuhu
 * @LastEditors: zhuhu
 * @LastEditTime: 2019-07-03 16:50:12
 * @Description: 登录界面样式
 */
 .login-box{
    padding-bottom: 100px;
    box-sizing: border-box;
    .login-icon{
        width: 44px;
        vertical-align:middle;
        margin-bottom: 100px;
    }
    .login-form{
        width: 300px;
        .login-form-button{
            width: 40%;
        }
    }
 }
